@import "tailwindcss";
@import "@heroui/styles";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/jetbrains-mono";

@custom-variant dark (&:is(.dark *)); 

@theme {
  --color-background: #0e0e0e;
  --color-tertiary-fixed: #ff8ed2;
  --color-surface-container-low: #131313;
  --color-on-primary-fixed-variant: #0e009d;
  --color-on-surface: #ffffff;
  --color-surface-container: #191919;
  --color-surface-variant: #262626;
  --color-primary-container: #9396ff;
  --color-primary-fixed: #9396ff;
  --color-on-tertiary-fixed: #3b002b;
  --color-outline: #757575;
  --color-on-primary-container: #0a0081;
  --color-on-secondary-fixed-variant: #533ea7;
  --color-primary-dim: #6063ee;
  --color-on-surface-variant: #ababab;
  --color-surface-container-highest: #262626;
  --color-secondary: #a28efc;
  --color-tertiary-container: #ff8ed2;
  --color-surface-dim: #0e0e0e;
  --color-inverse-surface: #f9f9f9;
  --color-on-secondary: #21006d;
  --color-on-background: #ffffff;
  --color-tertiary: #ffa5d9;
  --color-surface-container-high: #1f1f1f;
  --color-secondary-fixed: #d6cbff;
  --color-inverse-on-surface: #555555;
  --color-tertiary-fixed-dim: #ef81c4;
  --color-on-secondary-container: #d4c9ff;
  --color-on-primary-fixed: #000000;
  --color-on-error-container: #ffb2b9;
  --color-on-secondary-fixed: #361c89;
  --color-on-tertiary-fixed-variant: #6e1354;
  --color-outline-variant: #484848;
  --color-primary-fixed-dim: #8387ff;
  --color-error: #ff6e84;
  --color-surface: #0e0e0e;
  --color-inverse-primary: #494bd7;
  --color-secondary-fixed-dim: #c8bbff;
  --color-tertiary-dim: #ef81c4;
  --color-surface-bright: #2c2c2c;
  --color-on-tertiary-container: #63054a;
  --color-error-dim: #d73357;
  --color-on-tertiary: #701455;
  --color-primary: #a3a6ff;
  --color-secondary-dim: #a28efc;
  --color-on-primary: #0f00a4;
  --color-on-error: #490013;
  --color-error-container: #a70138;
  --color-secondary-container: #49339d;
  --color-surface-container-lowest: #000000;
  --color-surface-tint: #a3a6ff;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: var(--font-body);
    min-height: max(884px, 100dvh);
    @apply bg-background text-foreground;
  }
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply font-mono;
  }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

@theme inline {
  --font-heading: var(--font-mono);
  --font-mono: 'JetBrains Mono Variable', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #0e0e0e;
  --foreground: #ffffff;
  --card: #191919;
  --card-foreground: #ffffff;
  --popover: #1f1f1f;
  --popover-foreground: #ffffff;
  --primary: #a3a6ff;
  --primary-foreground: #0f00a4;
  --secondary: #a28efc;
  --secondary-foreground: #21006d;
  --muted: #262626;
  --muted-foreground: #ababab;
  --accent: #ffa5d9;
  --accent-foreground: #701455;
  --destructive: #ff6e84;
  --border: #484848;
  --input: #757575;
  --ring: #a3a6ff;
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: #131313;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #a3a6ff;
  --sidebar-primary-foreground: #0f00a4;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #484848;
  --sidebar-ring: #a3a6ff;
}

.dark {
  --background: #0e0e0e;
  --foreground: #ffffff;
  --card: #191919;
  --card-foreground: #ffffff;
  --popover: #1f1f1f;
  --popover-foreground: #ffffff;
  --primary: #a3a6ff;
  --primary-foreground: #0f00a4;
  --secondary: #a28efc;
  --secondary-foreground: #21006d;
  --muted: #262626;
  --muted-foreground: #ababab;
  --accent: #ffa5d9;
  --accent-foreground: #701455;
  --destructive: #ff6e84;
  --border: #484848;
  --input: #757575;
  --ring: #a3a6ff;
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: #131313;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #a3a6ff;
  --sidebar-primary-foreground: #0f00a4;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #484848;
  --sidebar-ring: #a3a6ff;
}